@import url(http://fonts.googleapis.com/css?family=Montserrat:400);

@import url(http://fonts.googleapis.com/css?family=Lato:300);

* {
  margin: 0;
  padding: 0;
  font-weight:normal;
}

body {
  font-family:Lato;
  background-color:#ebebeb;
}

#orgHeader {
  height:360px;
}

#orgDescription {
  width:100%;
  height:100px;
  background-color:#fff;
}

#orgOwners {
  width:100%;
  height:360px;
}

#orgMembers {
  width:100%;
  background-color:#ddd;
  padding-bottom:72px;
}

h1, h2, h3, p, .member {
  font-size:1em;
  text-align:center;
}

h1 {
  color:#222222;
  padding-top:100px;
  font-family:Montserrat;
  font-size:5em;
}

h2 {
  line-height:100px;
}

h3 {
  color:#4a4a4a;
  margin-top:10px;
  font-size:1.9em;
}

h4 {
  font-size:1.9em;
  padding:90px 0px 20px 0px;
}

h5 {
  font-size:0.8em;
  text-align:center;
  margin-bottom:80px;
}

h5 a {
  color:purple;
}

#community {
  color:#ccc;
  font-family:Lato;
}

#ownersAvatars, h4 {
  display: table;
  margin: 0 auto;
}

.avatar {
	width: 80px;
	height: 80px;
  border-radius: 50px;
  border:5px solid white;
  -webkit-filter: saturate(50%);
}

#orgOwners .avatar {
  margin:10px;
}

.avatar:hover {
  -webkit-filter: saturate(100%);
}

a {
  display: inline-block;
  color:#222;
  text-decoration:none;
}

a:hover {
  color:#777;
}

.member {
  margin-bottom:30px;
  margin-left:auto;
}

.avatar {
  float:left;
}

.name, .skills {
  clear:right;
  display:table;
  padding-left:40px;
  margin-top:5px;
}

.name {
  font-size:1.3em;
  padding-top:10px
}

footer {
  height:60px;
  background-color:#fff;
  text-align:center;
  padding-top:40px;
}